@use '../abstracts/variables' as v;

@forward '../components/search';
@forward '../components/navigation';
@forward '../components/delivery';
@forward '../components/card';

.header {
  &__wrapper {
    // padding: 131px 0;
    padding: clamp(46px, calc(38.273px + 2.415vw), 131px) 0;

    display: flex;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    justify-content: start;
    align-items: center;
    // gap: 50px;
    gap: clamp(17px, calc(14px + 0.938vw), 50px);
  }
}
