@use '../abstracts/variables' as v;

.delivery {
  // border-radius: 100px;
  border-radius: clamp(35px, calc(29.091px + 1.847vw), 100px);
  border: 2px solid v.$color_white;

  background-color: v.$color_light_brown;

  box-shadow:
    0 13px 30px 0 rgba(0, 0, 0, 0.1),
    0 54px 54px 0 rgba(0, 0, 0, 0.09),
    0 121px 73px 0 rgba(0, 0, 0, 0.05),
    0 216px 86px 0 rgba(0, 0, 0, 0.01),
    0 337px 94px 0 rgba(0, 0, 0, 0);

  &__form {
    // padding: 37px 64px;
    padding: clamp(13px, calc(10.818px + 0.682vw), 37px)
      clamp(22px, calc(18.182px + 1.193vw), 64px);

    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 35px;
    gap: clamp(12px, calc(9.909px + 0.653vw), 35px);
  }

  &__input {
    // width: 260px;
    width: clamp(100px, calc(85.455px + 4.545vw), 260px);
    // height: 72px;
    height: clamp(25px, calc(20.727px + 1.335vw), 72px);

    // font-size: 35px;
    font-size: clamp(10px, calc(7.727px + 0.71vw), 35px);

    background-color: v.$color_light_brown;
    border: none;
    outline: none;

    color: v.$color_black;
    opacity: 0.6;

    &::placeholder {
      color: v.$color_black;
      opacity: 0.6;
    }
  }

  &__btn {
    background-color: transparent;
    border: none;

    cursor: pointer;
  }

  &__icon {
    // width: 68px;
    // height: 68px;
    width: clamp(24px, calc(20px + 1.25vw), 68px);
    height: clamp(24px, calc(20px + 1.25vw), 68px);

    stroke: v.$color_deep_gray;
  }
}
