@use '../abstracts/variables' as v;

.nav {
  padding: clamp(2px, calc(0.369px + 0.381vw), 15px)
    clamp(3px, calc(0.366px + 0.615vw), 24px);

  border-radius: clamp(14px, calc(3.212px + 2.521vw), 100px);
  border: 2px solid v.$color_white;

  background-color: v.$color_nav_bg;
  backdrop-filter: blur(42px);
  box-shadow:
    0 31px 69px 0 rgba(0, 0, 0, 0.1),
    0 125px 125px 0 rgba(0, 0, 0, 0.09),
    0 282px 169px 0 rgba(0, 0, 0, 0.05),
    -1px 501px 200px 0 rgba(0, 0, 0, 0.01),
    -1px 782px 219px 0 rgba(0, 0, 0, 0);

  @media (max-width: v.$media_md) {
    position: absolute;
    top: 80px;
    left: -140px;
    transition: all 0.3s;

    &.active {
      left: 5px;
    }
  }

  &__list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: clamp(3px, calc(0.115px + 0.674vw), 26px);

    @media (max-width: v.$media_md) {
      flex-direction: column;
    }
  }

  &__item {
    padding: clamp(7px, calc(3.111px + 0.909vw), 38px)
      clamp(14px, calc(3.212px + 2.521vw), 100px);

    font-size: clamp(5px, calc(1.237px + 0.879vw), 35px);

    color: v.$color_black;
    opacity: 0.6;

    border-radius: clamp(14px, calc(3.212px + 2.521vw), 100px);
    transition: all 0.2s linear;

    &:hover {
      background-color: v.$color_light_brown;
      opacity: 1;
    }
  }
}
