@use '../abstracts/variables' as v;

.hero {
  &__wrapper {
    // height: 1485px;
    height: clamp(530px, calc(443.182px + 27.131vw), 1485px);

    background: url('../../assets/images/webp/home-bg.webp') center/cover
      no-repeat;
  }

  &__info-inner {
    // height: 1485px;
    height: clamp(530px, calc(443.182px + 27.131vw), 1485px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  &__info {
    // padding: 25px 100px;
    padding: clamp(8px, calc(6.455px + 0.483vw), 25px)
      clamp(35px, calc(29.091px + 1.847vw), 100px);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // bottom: -35px;
    bottom: clamp(-12px, calc(9.909px + 0.653vw), -35px);

    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 100px;
    gap: clamp(35px, calc(29.091px + 1.847vw), 100px);

    // border-radius: 100px;
    border-radius: clamp(35px, calc(29.091px + 1.847vw), 100px);
    border: 2px solid v.$color_white;

    box-shadow:
      0 22px 48px 0 rgba(0, 0, 0, 0.1),
      0 88px 88px 0 rgba(0, 0, 0, 0.09),
      0 352px 141px 0 rgba(0, 0, 0, 0.01),
      -1px 549px 154px 0 rgba(0, 0, 0, 0);

    background: v.$color_light_brown;

    @media (max-width: v.$media_4k) {
      flex-direction: column;
    }
  }

  &__info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 35px;
    gap: clamp(12px, calc(9.909px + 0.653vw), 35px);
  }

  &__info-item-text {
    // width: 700px;
    width: clamp(250px, calc(209.091px + 12.784vw), 700px);

    // font-size: 40px;
    font-size: clamp(14px, calc(11.636px + 0.739vw), 40px);
    color: v.$color_black;
    opacity: 0.6;
  }

  &__title {
    // font-size: 300px;
    font-size: clamp(50px, calc(27.273px + 7.102vw), 300px);
    font-weight: 700;
    max-width: 1900px;
    line-height: 80%;
    letter-spacing: -0.05em;
    text-align: center;
    color: v.$color_white;
  }

  &__desc {
    // padding: 100px 0 118px;
    padding: clamp(35px, calc(29.091px + 1.847vw), 100px) 0
      clamp(42px, calc(35.091px + 2.159vw), 118px);

    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: clamp(11px, calc(9.091px + 0.597vw), 32px);

    background: linear-gradient(
      90deg,
      rgba(210, 206, 198, 0.4) 0%,
      rgba(232, 230, 227, 0.4) 100%
    );
  }

  &__desc-title {
    // font-size: 80px;
    font-size: clamp(20px, calc(14.545px + 1.705vw), 80px);
    font-weight: 500;
    letter-spacing: -0.05em;
  }

  &__desc-text {
    font-size: v.$font-instrument;
    // font-size: 35px;
    font-size: clamp(12px, calc(9.909px + 0.653vw), 35px);
  }

  &__desc-title,
  &__desc-text {
    max-width: 2740px;
  }

  &__icon {
    // width: 150px;
    // height: 150px;
    width: clamp(53px, calc(44.182px + 2.756vw), 150px);
    height: clamp(53px, calc(44.182px + 2.756vw), 150px);
    fill: v.$color_black;
    opacity: 0.6;
  }
}
